
# FQDNs of all VMs
valpaas23.valamis.local # k8s master VM
valpaas24.valamis.local # k8s minion VM
valpaas25.valamis.local # k8s minion VM
valpaas26.valamis.local # k8s minion VM
valpaas27.valamis.local # Database VM
valpaas28.valamis.local # Monitor VM
valpaas01.valamis.local # Loadbalancer

[sandbox]
valpaas23.valamis.local # k8s master VM
valpaas24.valamis.local # k8s minion VM
valpaas25.valamis.local # k8s minion VM
valpaas26.valamis.local # k8s minion VM
valpaas27.valamis.local # Database VM
valpaas28.valamis.local # Monitor VM

[sandbox:vars]
ansible_python_interpreter=/usr/bin/python3

[master]
valpaas23.valamis.local # k8s master VM

[minion]
valpaas24.valamis.local # k8s minion VM
valpaas25.valamis.local # k8s minion VM
valpaas26.valamis.local # k8s minion VM

[storageminion]
valpaas24.valamis.local # k8s minion VM
valpaas25.valamis.local # k8s minion VM
valpaas26.valamis.local # k8s minion VM

[database]
valpaas27.valamis.local # Database VM

[elasticsearch]
valpaas28.valamis.local # Monitor VM

[kibana]
valpaas28.valamis.local # Monitor VM

[prometheus]
valpaas28.valamis.local # Monitor VM

[grafana]
valpaas28.valamis.local # Monitor VM

[loadbalancer]
valpaas01.valamis.local
