# {{ ansible_managed }}

apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
nodeRegistration:
{% if kubernetes_container_runtime == "docker" %}
  criSocket: "{{ kubernetes_cri_socket_path_docker }}"
{% else %}
  criSocket: "{{ kubernetes_cri_socket_path_containerd }}"
{% endif %}
  name: "{{ hostvars[inventory_hostname].ansible_nodename }}"
  taints: null
