apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ addon_vsc_snapshot_validation_webhook_namespace }}
resources:
- admission-configuration-template
- webhook.yaml
- volume-snapshot-webhook.yaml
patches:
  - patch: |-
      apiVersion: admissionregistration.k8s.io/v1
      kind: ValidatingWebhookConfiguration
      metadata:
        name: "validation-webhook.snapshot.storage.k8s.io"
        annotations:
          cert-manager.io/inject-ca-from: "{{ addon_vsc_snapshot_validation_webhook_certificate_namespace }}/{{ addon_vsc_snapshot_validation_webhook_certificate_name }}"
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: snapshot-validation-deployment
      spec:
        template:
          spec:
            volumes:
              - name: snapshot-validation-webhook-certs
                secret:
                  secretName: {{ addon_vsc_snapshot_validation_webhook_certificate_secret_name }}
