# {{ ansible_managed }}
#
# Reference : https://raw.githubusercontent.com/rook/rook/v{{ rook_operator_version }}/deploy/charts/rook-ceph/values.yaml

crds:
  enabled: {{ rook_operator_crds_enabled }}
resources:
  {{ rook_operator_resources | to_nice_yaml(indent=2) | indent(2) | trim }}
nodeSelector:
  {{ rook_operator_node_selector }}
tolerations:
  {{ rook_operator_tolerations | to_nice_yaml(indent=2) | indent(2) | trim }}
logLevel: {{ rook_operator_log_level }}
rbacEnable: true
pspEnable: true
priorityClassName: {{ rook_operator_priority_class }}
csi:
  enableRbdDriver: true
  enableCephfsDriver: true
  enableGrpcMetrics: false
  enableCSIHostNetwork: false
  enableCephfsSnapshotter: true
  enableRBDSnapshotter: true
  enablePluginSelinuxHostMount: false
  enableCSIEncryption: false
  pluginPriorityClassName: system-node-critical
  provisionerPriorityClassName: system-cluster-critical
  rbdFSGroupPolicy: "ReadWriteOnceWithFSType"
  cephFSFSGroupPolicy: "ReadWriteOnceWithFSType"
  nfsFSGroupPolicy: "ReadWriteOnceWithFSType"
  enableOMAPGenerator: false
  provisionerReplicas: 2
  logLevel: 0
  rbdPluginUpdateStrategy: RollingUpdate
  cephFSPluginUpdateStrategy: RollingUpdate
  nfsPluginUpdateStrategy: RollingUpdate
  grpcTimeoutInSeconds: 150
  allowUnsupportedVersion: false
  csiRBDProvisionerResource: |
    {{ rook_operator_csi_rbd_provisioner_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  csiRBDPluginResource: |
    {{ rook_operator_csi_rbd_plugin_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  csiCephFSProvisionerResource: |
    {{ rook_operator_csi_cephfs_provisioner_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  csiCephFSPluginResource: |
    {{ rook_operator_csi_cephfs_plugin_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  csiNFSProvisionerResource: |
    {{ rook_operator_csi_nfs_provisioner_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  csiNFSPluginResource: |
    {{ rook_operator_csi_nfs_plugin_resource | to_nice_yaml(indent=2) | indent(4) | trim }}
  provisionerTolerations:
    {{ rook_operator_provisioner_tolerations | trim }}
  provisionerNodeAffinity: {{ rook_operator_provisioner_node_affinity }}
  pluginTolerations:
    {{ rook_operator_plugin_tolerations | to_nice_yaml(indent=2) | indent(4) | trim }}
  forceCephFSKernelClient: "{{ rook_operator_force_cephfs_kernel_client }}"
  kubeletDirPath: {{ rook_operator_kubelet_dir_path }}
  volumeReplication:
    enabled: {{ rook_operator_volume_replication_enabled }}
  csiAddons:
    enabled: {{ rook_operator_csi_addons_enabled }}
  nfs:
    enabled: {{ rook_operator_nfs_enabled }}
enableDiscoveryDaemon: {{ rook_operator_discovery_daemon_enabled }}
cephCommandsTimeoutSeconds: "15"
useOperatorHostNetwork: {{ rook_operator_use_host_network }}
discover:
  tolerations:
    {{ rook_operator_discover_tolerations | trim }}
  nodeAffinity: {{ rook_operator_discover_node_affinity }}
enableSelinuxRelabeling: false
disableAdmissionController: false
hostpathRequiresPrivileged: false
disableDeviceHotplug: false
enableOBCWatchOperatorNamespace: true
admissionController:
  tolerations:
    {{ rook_operator_admissioncontroller_tolerations | trim }}
  nodeAffinity: {{ rook_operator_admissioncontroller_node_affinity }}
monitoring:
  enabled: {{ rook_operator_monitoring_enabled }}
